/*COMMON*/



/*HEADER*/


header .col_content{
    background-color:#12162b;
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

.header-menu{
    list-style-type: none;
    text-align: right;
}

.header-menu li{
    display: inline-block;
    padding-left: 10px;
}

.header-menu li a{
    text-decoration: none;
    color: white;
}

.burger-menu{
    text-align: right;
}
