/*COMMON*/

.section-padding{
    padding: 40px 0;
}

.green-section{
    background-color: #3cb087;
    color: white;
}

.section-intro{
    text-transform: uppercase;
    text-align: center;
}
/*HEADER*/

/*top-nav*/
header .top-nav{
    color: white;
    background-color: #192240;
    padding: 15px 0;
    text-transform: uppercase;
}

.header-nav .menu{
    list-style-type: none;
}

.header-nav .menu li{
    display: inline-block;
    margin-left: 10px;
}

.header-nav .menu li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.header-nav .burger{
    font-size: 20px;
}

/*banner*/

.star{
    font-size: 20px;
    padding: 10px;
}

.banner img{
    width: 120px;
    height: auto;
}

.banner span{
    padding: 0 10px;
}

/*MAIN*/

/*portfolio section*/
.box-img{
    margin-bottom: 30px;
}

.portfolio-img-container{
    margin-top: 20px;
}

/*FINE MAIN*/